#workspaceSetViewBase {
	-fx-orientation: vertical;
}

#workspaceSetStackPane {
	-fx-alignment: top-left;
	-fx-min-height: 0em;
}

#mainMsgArea {
	-fx-min-height: 1em;
    -fx-font-family: "Meiryo UI";
    -fx-font-size: 1.1em;
}

#workspaceSetTab .tab-label {
    -fx-font-family: "Meiryo UI";
    -fx-font-size: 1.1em;
}

#closedTrashboxIV {
	-fx-translate-x: -2em;
	-fx-translate-y: -2em;
}

#openedTrashboxIV {
	-fx-translate-x: -2em;
	-fx-translate-y: -2em;
}


