.defaultTextField {
	-fx-alignment: center;
	-fx-font-family: "Meiryo UI";
	-fx-font-size: 1.5em;
	-fx-padding: 0.0em, 0.0em, 0.0em, 0.0em;
}

.defaultTextField:error{
    -fx-background-color: pink;
}

.defaultTextField:readonly{
    -fx-text-fill: white;
    -fx-background-color: #909090;
}
